.CardCollection{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
    padding: 20px; 
}

@media (max-width:600px){
    .CardCollection{
        grid-template-columns: 1fr;
    }
}