.ProjectCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border:1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: lightblue;
    overflow: hidden;
    width: 95%;
    height: 400px;
}

.ProjectName{
    position: absolute;
    top: 33%;
    width: 100%;
    color: white;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.ProjectImage{
    position:relative;
    width: 100%;
}

.ProjectName a{
    margin-right: 20px;
}

.ProjectImage img{
    
    width: 100%;
    border-radius: 8px;
    display: block;
    filter: blur(8px);

}

/* .github-icon{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
} */

.github-icon{
    margin-left: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}