/* page name and github icon should res on top of the project cards image */
.ProjectCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border:1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: lightblue;
    overflow: hidden;
    width: 95%;
    height: 400px;
    
}

.github-icon{
    margin-left: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}