.ProjectImage{
    position: relative;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.ProjectImage img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    filter: blur(8px);
    object-fit: cover;
}