.ContactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:slategrey;
    padding: 20px;
    border-radius: 10px;
}

.ContactForm label{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;

}

.ContactForm input, .ContactForm textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.ContactForm textarea{
    height: 200px;
}

.ContactForm button{
    padding: 10px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;

}

.ContactForm button:hover{
background-color: rgb(13, 13, 97);
}