/* profile image must be in line with the page title */
.MyProfileImage{
    display: flex;
    align-items: center;
}

.MyProfileImage img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    margin-left: 50px;
}